In [1]:
a = 3
b = 5
c = a + b 
c

8

In [2]:
a = 3
b = a ** 3
b

27

In [3]:
a = [1,2,3,4,5]
b = a[3]
b

4

In [4]:
a = [1,2,3,4,5]
b = a[1:4]
b

[2, 3, 4]

In [6]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
a = 3
b = 5
if a > b:
    print("A is big")
else:
    print("B is big")

B is big

In [8]:
a = 7
b = 5
if a > b:
    print("A is big")
else:
    print("B is big")

A is big

In [9]:
a = 5
b = 5
if a > b:
    print("A is big")
elif a == b:
    print("A is same as B")
else:
    print("B is big")

A is same as B

In [10]:
def myfx(a,b,c):
    return a*b*c

myfx(3,5,7)

105

In [11]:
a = 5
b = 3.5
c = "SSA"
d = None

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'NoneType'>

In [13]:
str1 = '문자는 작은 따옴표로 쓰는데요'
str2 = "큰 따옴표로 쓸 수도 있습니다"
str3 = '무슨 차이가 있냐면요 작은 따옴표로 쓰는게 국룰입니다'
str4 = """
여러 줄은
큰 따옴표 3개로
씁니다
보통 주석도 이렇게 씁니다요
"""

In [16]:
str1

'문자는 작은 따옴표로 쓰는데요'

In [17]:
str2

'큰 따옴표로 쓸 수도 있습니다'

In [19]:
str4

'\n여러 줄은\n큰 따옴표 3개로\n씁니다\n보통 주석도 이렇게 씁니다요\n'

In [21]:
print(1==1)

True

In [22]:
print(1==2)

False

In [27]:
a = range(0,10)
print(*a)

0 1 2 3 4 5 6 7 8 9

In [29]:
tuple_ = (1,2,3)
list_ = [1,2,3,4,5,5,5,5]
set_ = {1,2,3,4,4,5,56,5,55,5,5,5,5,5,5}

In [31]:
tuple_

(1, 2, 3)

In [32]:
list_

[1, 2, 3, 4, 5, 5, 5, 5]

In [33]:
set_

{1, 2, 3, 4, 5, 55, 56}

In [34]:
a,b,c = tuple_

In [36]:
c

3

In [37]:
d = {'SSA':'만세', 'PS':50}

In [38]:
d['SSA']

'만세'

In [39]:
d['PS']

50