In [1]:
import numpy as np
import pandas as pd

In [13]:
prv_info = pd.DataFrame({'이름':['김데이터','조데이터','최데이터','박데이터'], '길이':[178,183,168,192], '무게':[78,83,53,44], '혈액형':['O','B','A','AB'], '성별':['여','남','남','여']})
prv_info

     이름   길이  무게 혈액형 성별
0  김데이터  178  78   O  여
1  조데이터  183  83   B  남
2  최데이터  168  53   A  남
3  박데이터  192  44  AB  여

In [14]:
score_info = pd.DataFrame({'이름':['김데이터','조데이터','최데이터','박데이터'], '점수1':[100,60,50,100], '점수2':[50,70,40,50], '점수3':[70,80,30,80], '점수4':[40,90,20,55]})
score_info

     이름  점수1  점수2  점수3  점수4
0  김데이터  100   50   70   40
1  조데이터   60   70   80   90
2  최데이터   50   40   30   20
3  박데이터  100   50   80   55

In [15]:
prv_info.merge(score_info)

     이름   길이  무게 혈액형 성별  점수1  점수2  점수3  점수4
0  김데이터  178  78   O  여  100   50   70   40
1  조데이터  183  83   B  남   60   70   80   90
2  최데이터  168  53   A  남   50   40   30   20
3  박데이터  192  44  AB  여  100   50   80   55

In [19]:
cloth_info = pd.DataFrame({'옷색깔':['검정','하양'], '성별':['남','여']})
cloth_info

  옷색깔 성별
0  검정  남
1  하양  여

In [20]:
prv_info.merge(cloth_info)

     이름   길이  무게 혈액형 성별 옷색깔
0  김데이터  178  78   O  여  하양
1  박데이터  192  44  AB  여  하양
2  조데이터  183  83   B  남  검정
3  최데이터  168  53   A  남  검정

In [23]:
cloth_info.merge(prv_info)

  옷색깔 성별    이름   길이  무게 혈액형
0  검정  남  조데이터  183  83   B
1  검정  남  최데이터  168  53   A
2  하양  여  김데이터  178  78   O
3  하양  여  박데이터  192  44  AB

In [21]:
food_info = pd.DataFrame({'종족':['인간','사자','염소'],'식성':['잡식','육식','초식']})
food_info

   종족  식성
0  인간  잡식
1  사자  육식
2  염소  초식

In [22]:
prv_info.merge(food_info)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [27]:
grade_info = pd.DataFrame({'영어점수':[100,90,80,70,60,50,40], '학점':['A+','A','B+','B','C+','C','F']})
grade_info

   영어점수  학점
0   100  A+
1    90   A
2    80  B+
3    70   B
4    60  C+
5    50   C
6    40   F

In [28]:
prv_info.merge(score_info).merge(grade_info,left_on='점수1',right_on='영어점수')

     이름   길이  무게 혈액형 성별  점수1  점수2  점수3  점수4  영어점수  학점
0  김데이터  178  78   O  여  100   50   70   40   100  A+
1  박데이터  192  44  AB  여  100   50   80   55   100  A+
2  조데이터  183  83   B  남   60   70   80   90    60  C+
3  최데이터  168  53   A  남   50   40   30   20    50   C

In [31]:
s1 = pd.Series([0,1], index=['a','b'])
s2 = pd.Series([2,3,4], index=['c','d','e'])
s3 = pd.Series([5,6,7], index=['f','g','h'])

In [32]:
pd.concat([s1,s2,s3])

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
dtype: int64

In [33]:
pd.concat([s1,s2,s3], axis=1)

C:\Users\preci\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

     0    1    2
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0
h  NaN  NaN  7.0

In [44]:
a = pd.Series([np.nan, 2.5, np.nan, 3.5,4.5,np.nan], index=['f','e','d','c','b','a'])
b = pd.Series(np.arange(1,len(a)+1), index=['f','e','d','c','b','a'])

In [45]:
a

f    NaN
e    2.5
d    NaN
c    3.5
b    4.5
a    NaN
dtype: float64

In [46]:
b

f    1
e    2
d    3
c    4
b    5
a    6
dtype: int32

In [47]:
a.combine_first(b)

f    1.0
e    2.5
d    3.0
c    3.5
b    4.5
a    6.0
dtype: float64

In [48]:
b.combine_first(a)

f    1
e    2
d    3
c    4
b    5
a    6
dtype: int32

In [50]:
d1 = pd.DataFrame({'a':[1, np.nan,5,np.nan], 'b':[np.nan,2,np.nan,6], 'c':range(2,18,4)})
d2 = pd.DataFrame({'a':[5,4,np.nan,3,7], 'b':[np.nan, 3,4,6,8]})

In [51]:
d1

     a    b   c
0  1.0  NaN   2
1  NaN  2.0   6
2  5.0  NaN  10
3  NaN  6.0  14

In [52]:
d2

     a    b
0  5.0  NaN
1  4.0  3.0
2  NaN  4.0
3  3.0  6.0
4  7.0  8.0

In [53]:
d1.combine_first(d2)

     a    b     c
0  1.0  NaN   2.0
1  4.0  2.0   6.0
2  5.0  4.0  10.0
3  3.0  6.0  14.0
4  7.0  8.0   NaN